extends base.pug
block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/contact.css

block content 
    | This is contact Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident ducimus cupiditate commodi hic iste dignissimos, corporis vero doloribus fugit incidunt reprehenderit temporibus ullam a eligendi itaque quos quia veritatis ex nesciunt debitis ab deserunt? Quis, illo incidunt quo deleniti quisquam modi, accusamus quia aperiam odit, in pariatur. Provident repudiandae quam enim non, a numquam voluptatibus maxime quasi, perferendis laboriosam, exercitationem delectus quis doloribus dicta voluptates officiis eum placeat doloremque beatae ducimus commodi. Praesentium, officia atque. Quis omnis totam animi. Reiciendis provident sapiente fugit laborum doloribus quam autem quod corrupti aut dolorum voluptatem adipisci, voluptas blanditiis impedit, natus necessitatibus accusantium deleniti?